
.build.bg-img{
    background: url('../../components/GuideSection/Segotep-Build_left.webp'); 
    background-repeat: no-repeat;
    background-size: 35% 100%;
}

@media only screen and (max-width: 530px) {
    .build.bg-img{
        background-size: 50% 100%;
    }
}

table tr td, table tr th{
    background-color: rgba(12, 1, 1, 0.404) !important;
    color: white !important;
}