/* .container-fluid{
    overflow: auto !important;
    padding-top: -20px !important;
    background-color: gray;
} */
/* .slider-container{
    background-color: ;
} */

/* .slick-slider{
    padding: 0 !important;
} */

.slick-list{
    width: 100% !important;
    margin-bottom: 2rem !important;
    margin-top: 0.8rem !important;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 3450px; */
    text-align: center;
    max-height: 100% !important;
}

.slider-container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 3450px; */
    text-align: center;
}

.slider-container .card-body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.slider-container .card-body h6 {
    color: rgb(201, 201, 201);
    font-style: italic;
}

@media only screen and (max-width: 1279px) {
    .slider-container .card-body h5{
        font-size: 1.5rem;
    }
    .slider-container .card-body h6 {
        font-size: 1.4rem;
    }
    .slick-list{
        width: 100% !important;
        margin-bottom: 2rem !important;
        margin-top: 1rem !important;
    }
}
@media only screen and (max-width: 1100px) {
    .slider-container .card-body h5{
        font-size: 1.1rem;
    }
    .slider-container .card-body h6 {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 600px)   {
    .slider-container .card-body h5{
        font-size: 1.35rem;
    }
    .slider-container .card-body h6 {
        font-size: 1.15rem;
    }
}
@media only screen and (max-width: 920px) {
    .slider-container .card-body h5{
        font-size: 1.6rem;
    }
    .slider-container .card-body h6 {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 600px) {
    .slider-container .card img {
        width: 150px !important;
        height: 150px !important;
    }
}
@media only screen and (max-width: 420px) {
    .slider-container .card-body h5{
        font-size: 1.2rem;
    }
    .slider-container .card-body h6 {
        font-size: 0.9rem;
    }
}


.slider-container .card img {
    width: 200px !important;
    height: 200px !important;
}



.slick-prev {
    left: 3% !important;
    z-index: 1 !important;
}

.slick-next {
    right: 3% !important;
    z-index: 1 !important;
}